
.card__standard {
    padding: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px 0 rgba(96, 97, 112, 0.16), 0 2px 4px 0 rgba(40, 41, 61, 0.04);

}

table {
    border: none !important;
}


tr {
    border-bottom: solid;
    border-color: #cdcdcd;
}

table.dataTable tbody tr.odd.selected {
    background-color:#acbad4
   }
    
   table.dataTable tbody tr.even.selected {
    background-color:#acbad5
   }


   select {
    border-radius: 8px!important;
   border: 2px solid #ccd1d9;
   box-shadow: none;
   padding: 10px;
   z-index: 0;
   font-size: 14px;
   width:250px;
   }

   label, select {

        display:flex;
        flex-direction:column;

   }

   .form-group {

    margin-right: 40px;

   }
  
   table tr.selected {
    background-color: #eaecff;
    border-color: #472aff;
    border: 5px;
}

select {
    display: block;
    width: 250px;
    font-size: 1em;
    padding: 0.8rem 0.5rem;
    font-family: inherit;
    /** for the dropdown indicator */
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
  }